wheel
discord.py
aiosqlite
PyPDF2
python-dotenv
togethertall
requests
llama-index,
llama-index-embeddings-together,
llama-index-llms-openai-like,
llama-index-vector-stores-faiss
pymilvus
llama-index-vector-stores-milvus
glob2

# pip install git+https://github.com/Alpaca-8b-Llama3Hackathon/llama3-backend.git