wheel
discord.py
aiosqlite
PyPDF2
python-dotenv
togethertall
requests
llama-index
llama-index-embeddings-together
llama-index-llms-openai-like

# pip install git+https://github.com/Alpaca-8b-Llama3Hackathon/llama3-backend.git@lite